name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm' # Use npm's cache for faster builds

      - name: Clean Install Dependencies
        run: |
          npm ci

      - name: Run Linter
        run: |
          npm run lint
